*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	--header-h: 120px;
	--container-w: 1200px;

	--light: white;
	--primary: #2766CC;
	--danger: #DD655E;
	--warning: #F8DE4B;
	--success: #40C251;
	--success-light: rgba(64, 194, 81, 0.08);
	--grey: #AFAFAF;
	--bg-light: #F5F5F5;

	--transition-speed: 0.25s;
	--light-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	--font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiSvgIcon-root {
	pointer-events: none !important;
}
