.ProductCard {
	display: flex;
}

.ProductCard__Img {
	width: 120px;
}

.ProductCard__Details {
	padding: 1rem;
	flex: 1;
}

.ProductCard__Name {
	text-decoration: none;
	color: var(--success);
	font-size: calc(var(--font-size) * 0.7);
}

.ProductCard__Name:hover {
	text-decoration: underline;
	background-color: var(--bg-light);
}

/*.ProductCard__BottomRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}*/

.ProductCard__Price {
	margin-top: 0.4rem;
	color: var(--grey);
}

.ProductCard__Price span {
	font-size: calc(var(--font-size) * 1.5);
}

@media (min-width: 768px) {
	.ProductCard__Img {
		width: 200px;
	}
}