.CartPreview {
	display: none;
	width: 250px;
	background-color: var(--light);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
	border-radius: var(--b-radius);
	overflow: hidden;
}

.CartPreview .ProductsNavigation__Header {
	display: flex;
	justify-content: space-between;
}

.CartPreview .ProductsNavigation__Header span {
	padding: 0.03rem 0.5rem;
	background-color: var(--light);
	color: var(--success);
	border-radius: 5px;
}

.CartPreview__EmptyCart {
	text-align: center;
	color: var(--grey);
	padding: 0 1rem 2rem 1rem;
	margin-top: 1.5rem;
}

.CartPreview__EmptyCart h2 {
	color: var(--danger);
}

.DissatisfiedIcon {
	font-size: calc(var(--font-size) * 5) !important;
	margin: 1rem 0;
}

@media (min-width: 992px) {
	.CartPreview {
		display: block;
	}
}