.StoreFeed {
	background-color: var(--light);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.StoreFeed__Heading {
	padding: 1rem 0;
	padding-left: 1rem;
	text-transform: capitalize;
	font-size: calc(var(--font-size) * 1.08);
	color: var(--grey);

	display: flex;
	align-items: center;
}

.StoreFeed__ProductList {
	list-style-type: none;
}

.StoreFeed__ProductList > *:not(:first-child) {
	border-top: 2px solid var(--bg-light);
}